@import
url('https://fonts.googleapis.com/css2?family=Bungee&family=Caveat:wght@400..700&family=Fredoka:wght@300..700&family=Rubik+Mono+One&display=swap');

* {
box-sizing: border-box;
}
body {
margin: 0;
padding: 0;
}


.brand-custom {
font-family: "Bungee", sans-serif;
}

.nav-link {
font-family: "Fredoka", sans-serif;
font-size: 1.125rem;
}
.nav-link:hover {
background-color: #ccc;
}

.main {
background: url(./img/garudafood.png) no-repeat center center;
background-size: cover;
min-height: 100vh;
color: white;
}

.btn1 {
height: 45px;
width: 35%;
border: none;
outline: none;
background-color: #636363;
color: white;
font-weight: 700;
border-radius: 60px;
font-family: "Fredoka", sans-serif;
}
.btn1:hover {
background-color: #313131;
}

.about {
background-color: #666;
}
.about h1,
.about h2 {
font-family: "Rubik Mono One", monospace;
color: white;
}
.about p {
font-family: "Fredoka", sans-serif;
font-size: 1.375rem;
}

h6 {
font-family: "Fredoka", sans-serif;
font-size: 1.125rem;
}